@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"),
       url("../fonts/roboto-v20-latin_cyrillic-300.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.container {
  width: 600px;
  min-height: 600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px #f2f2f2;
  background-color: #fff;
  padding: 40px;
}
.title {
  font-weight: 500;
  margin-bottom: 50px;
}
.user-add-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
  font-size: 18px;
}
.user-add-input {
  width: 85%;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.user-add-input:focus {
  outline: none;
}
.speech-button {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/add-user-speech.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
  padding: 20px;
  transition: background-color 0.3s ease;
}
.speech-button:hover {
  background-color: #f2f2f2;
}
.speech-button:focus {
  outline: none;
}
.users-list-container {
  width: 100%;
  height: 340px;
  margin-top: 30px;
  overflow: auto;
}
.users-list {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding-left: 0;
  font-size: 18px;
  list-style: none;
  counter-reset: number;
}
.users-list li {
  display: flex;
  border-top: 1px solid #e6e6e6;
  padding: 10px 15px 10px 10px;
  counter-increment: number;
  font-weight: 300;
  transition: background-color 0.2s ease;
}
.users-list li:hover {
  border-radius: 5px;
  background-color: #f2f2f2;
}
.users-list li::before {
  content: counter(number) ".";
  margin-right: 10px;
}
.users-list li img{
  width: 25px;
  height: 25px;
  margin-left: auto;
}
.users-list li img:hover{
  cursor: pointer;
}